
/* nusako savybes visiems elementams, kaip default settingu priskyrimas */
body *, body { 
    box-sizing: border-box; 
    margin: 0;  
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body {
    background: rgb(75,66,149);
background: linear-gradient(90deg, rgba(75,66,149,1) 0%, rgba(1,105,141,1) 100%);
    position: relative;
    height: 100vh;
    width: 100vw;
    



}
.backgronnd-div {
    height: 100vh;
    background-image: url(../img/hill.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(15px);

}

/* meet selector classes, VAIKINIAI ELEMENTAI TAIP PAT PAVELDI JU SAVYBES 
    galima kreiptis i klases kaip i tagus .tevas > .vaikas {}
*/
.container {
    display: inline-block;
    width: 800px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.colummleft {
    width: 40%;
    float:left;
    padding: 40px;
    background-color: blueviolet;
    color: #fff;
    background-image: url(../img/hill.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 30px;
    bottom: 30px;    
}
.main-title {
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
}
.bottom-links {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;

}
.bottom-links > .link {
    color: #fff;
    font-size: 14px;
}
.bottom-links > symbol {

}
.colummright {  
    width: 60%;
    float:left;
    padding: 60px;
    background-color: #fff;
    color: black;
    float:right;
    position: relative;

}
.close {
  
    /*float:right;
    margin-top: -60px;
    margin-right: -60px; */
    width: 60px;    
    height: 60px;
    font-size: 35px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    /* norint aprasyti absoliutaus elemento padety teviniamio elemento atzvilgiu, tevinis elementas turi tureti "position: relative" parametra */
    
}

.colummright span {
    display: inline-block;
    line-height: 30px;
    font-size: 15px;
    padding: 10px;
    padding-right: 1px;
    margin-left: 5px;
}
.colummright a {
    display: inline-block;
    line-height: 30px;
    font-size: 22px;
    padding: 10px;
 
    padding-left: 1px;
    text-decoration: none;    
}
.colummright a:hover {
    text-decoration: underline;
    font-weight: bolder;
}